*,
::before,
::after{
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

:root{
    font-size: max(12px, min(16px, calc(100vw * 2 / 75)));
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li{
    list-style: none;

    font: inherit;
}

.full{
    display: none;
}

.visible{
    position: absolute;
    top: 0;
    bottom: 0;
    display: grid;

    height: 100%;
    width: 100%;

    background-color: rgb(128, 128, 128);

    align-items: center;
    justify-content: center;

    opacity: .8;
    z-index: 999;
}

.full__form{
    display: inline-block;

    background-color: #fff;

    box-shadow: 0 1px 10px 2px rgb(0 0 0);
    border-radius: 5px;

    padding-bottom: 3rem;

    position: relative;
}

.full__form-inputTitle{
    font-size: 1.6rem;

    outline: none;
    border: none;

    border-bottom: 1px solid #000;

    width: 100%;

    padding: 1rem 2rem;
}

.full__form-inputDescription{
    font-size: 1rem;

    outline: none;

    margin-top: .8rem;

    border: none;

    border-top: 1px solid #000;
    border-bottom: 1px solid #000;

    padding: 1rem .6rem;
    width: 100%;
}

.full__form-create,
.full__form-close{
    position: absolute;

    bottom: 20px;

    border-radius: 3px;
    background-color: transparent;

    border: 2px solid #000;
    outline: none;

    font-size: inherit;

    padding: .1rem;

    cursor: pointer;

    transition: background-color .6s ease-in-out,
                color .6s ease-in-out;
}

.full__form-close:hover,
.full__form-create:hover{
    background-color: #000;
    color: #fff;

    transition: background-color .6s ease-in-out,
                color .6s ease-in-out;
}

.full__form-close{
    right: 20px;
}

.full__form-create{
    right: 120px;
}

.header{
    display: grid;

    padding: 1.2rem .6rem;
    justify-content: center;
}

.header__form{
    display: flex;
    flex-wrap: wrap;

    gap: 1.2rem
}

.header__form-input{
    border-radius: 12px;
    outline: none;

    border: .4px solid #000;
    
    min-height: 4rem;
    min-width: 60vw;

    text-align: left;

    padding-left: 2.4rem;

    background-color: rgb(170, 165, 165);
}

.header__form-input,
.header__form-button{
    font-size: 1.2rem;
}

.header__form-button{
    border-radius: 20px;
    text-align: center;

    padding: 0 5rem;
    background-color: transparent;
    
    cursor: pointer;
}

.header__form-button:hover,
.header__form-button:active,
.header__form-button:focus{
    outline: none;
}

.main{
    width: 100vw;

    background-color: rgb(220, 215, 120);

    position: relative;

    min-height: 25rem;

    padding: 2.4rem;
}

.main__button{
    position: fixed;

    right: 80px;
    bottom: 40px;

    border-radius: 100px;
    padding: 15px 30px; 

    background-color: rgb(60, 243, 243);

    font-size: 1.6rem;
    color: #000;

    cursor: pointer;

    transition: background-color .6s ease-in-out,
                color .6s ease-in-out;

    outline: none;

    /* if it's link (a) */
    text-decoration: none;
}

.main__button:hover{
    background-color: #fff;
    color: #000;

    transition: background-color .6s ease-in-out,
                color .6s ease-in-out;
}

.main__list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1.6rem;
}

.main__list-item{
    cursor: pointer;

    display: flex;
    flex-flow: column wrap;

    gap: 4rem;
    border-radius: 10px;

    box-shadow: 0 1px 3px 0.2px rgb(0, 0, 0);

    position: relative;

    font-style: normal;
    
    transition: background-color .6s ease-in-out;
}

.main__list-item > *{
    margin: .3rem;
}

.main__list-item:hover{
    background-color: turquoise;
    transition: background-color .6s ease-in-out;
}

.item--description{
    max-width: calc(10vw + 30% - 2px - 1rem);

    overflow-wrap: break-word;
}

.item--delete{
    position: absolute;

    background-image: url('./img/basket.png');

    background-position: center;
    background-clip: border-box;

    background-origin: content-box;

    background-repeat: no-repeat;

    right: 20px;
    bottom: 30px;

    border: 2px solid #000;
    padding: .6rem;

    border-radius: 12px;

    transition: border .5s ease-in-out;

    width: 60px;
    height: 40px;
}

.item--delete:hover{
    border: 2px solid #fff;

    transition: border .5s ease-in-out;
}

.item--title{
    font-weight: bold;
    font-size: 1.2rem;

    max-width: calc((5vw + 25%) / (1.2rem * 10px));
    /* yep, it's just works */

    word-break: break-all;
}

@media screen and (max-width: 675px){
    .header__form-button{
        padding: 0 .2rem;
    }

    .main__button{
        padding: 10px 15px;
        right: 0;
        bottom: 0;
    }

    .full__form-inputDescription{
        margin-bottom: .2rem;
    }
}

@media screen and (max-width: 305px){
    .main__list{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .header__form-input{
        width: 60vw;
    }

    .full__form-inputTitle{
        padding: 0;
        font-size: inherit;
    }
}

@media screen and (max-width: 251px){
    .main__list{
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    .item--delete{
        right: 2px;
        bottom: 0;
    }

    .header__form-button{
        width: 100%;
        padding: .6rem;
    }

    .header__form-input{
        width: 100%;
    }

    .full__form-create{
        right: 0;
        bottom: 0;
    }

    .full__form-close{
        right: 60px;
        bottom: 0;
    }
}
